name: Generate Bindings
on:
  release:
    types: [created, edited]
  pull_request:

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

env:
  CARGO_TERM_COLOR: always

jobs:
  generate-rust-bindings:
    name: Generate Rust Bindings
    uses: org-zpr/zpr-dev-tools/.github/workflows/generate-pr.yml@4cda3cd92373d0df4e800a02c528020ee6291170
    with:
      src-repo: org-zpr/zpr-vsapi
      dst-repo: org-zpr/zpr-vsapi-rs
      lang: rust
      dry-run: ${{ github.event_name == 'pull_request' }}
      make-script: './generate.sh $SRC_PATH'
    secrets:
      RW_TOKEN: ${{ secrets.THRIFT_BINDINGS_RW }}
      GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      RO_TOKEN: ${{ secrets.ZPR_CICD_RO_TOKEN }}

  generate-go-bindings:
    name: Generate Go Bindings
    uses: org-zpr/zpr-dev-tools/.github/workflows/generate-pr.yml@4cda3cd92373d0df4e800a02c528020ee6291170
    with:
      src-repo: org-zpr/zpr-vsapi
      dst-repo: org-zpr/zpr-vsapi-go
      lang: go
      dry-run: ${{ github.event_name == 'pull_request' }}
      make-script: './generate.sh $SRC_PATH'
    secrets:
      RW_TOKEN: ${{ secrets.THRIFT_BINDINGS_RW }}
      GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      RO_TOKEN: ${{ secrets.ZPR_CICD_RO_TOKEN }}
