name: Generate Bindings
on:
  release:
    types: [created]
jobs:
  generate-rust-bindings:
    runs-on: ubuntu-latest
    container:
      image: docker://ghcr.io/org-zpr/38f3bb925e5e:latest
    steps:
      - name: Checkout thrift source
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
          path: thrift-src

      - name: Checkout rust thrift bindings
        uses: actions/checkout@v4
        with:
          repository: org-zpr/zpr-vsapi-rs
          token: ${{ secrets.THRIFT_BINDINGS_RW }}
          fetch-depth: 0
          path: vsapi-rs

      - name: Build Rust Bindings
        id: rs
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          rustup default stable
          VSAPI_SRC_VERSION=$(cd thrift-src && git describe --tags --always --abbrev=0)
          ./vsapi-rs/generate.sh thrift-src
          echo "src_version=${VSAPI_SRC_VERSION}" >> $GITHUB_OUTPUT
          echo "thrift_version=$(thrift --version)" >> $GITHUB_OUTPUT

      - name: Create zpr-vsapi-rs PR
        uses: peter-evans/create-pull-request@v7
        with:
          path: vsapi-rs
          token: ${{ secrets.THRIFT_BINDINGS_RW }}
          commit-message: "Generate rust bindings for VSAPI ${{ steps.rs.outputs.src_version }}"
          title: "Generate rust bindings for VSAPI ${{ steps.rs.outputs.src_version }}"
          body: "This code was automatically generated using ${{ steps.rs.outputs.thrift_version }}."
          branch: "generate-${{ steps.rs.outputs.src_version }}"

  # TODO: Factor out duplicated steps
  # The main reason I haven't done this already is that while it's easy
  # to pass the release name/hash between jobs, the vsapi thrift source
  # is a different matter, so I'm just checking it out wholesale in both
  # cases, but there should be a way to trim this all down?
  generate-go-bindings:
    runs-on: ubuntu-latest
    container:
      image: docker://ghcr.io/org-zpr/38f3bb925e5e:latest
    steps:
      - name: Checkout thrift source
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
          path: thrift-src

      - name: Checkout go thrift bindings
        uses: actions/checkout@v4
        with:
          repository: org-zpr/zpr-vsapi-go
          token: ${{ secrets.THRIFT_BINDINGS_RW }}
          fetch-depth: 0
          path: vsapi-go

      - name: Generate Go Bindings
        id: go
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          VSAPI_SRC_VERSION=$(cd thrift-src && git describe --tags --always --abbrev=0)
          ./vsapi-go/generate.sh thrift-src
          echo "src_version=${VSAPI_SRC_VERSION}" >> $GITHUB_OUTPUT
          echo "thrift_version=$(thrift --version)" >> $GITHUB_OUTPUT

      - name: Create zpr-vsapi-go PR
        uses: peter-evans/create-pull-request@v7
        with:
          path: vsapi-go
          token: ${{ secrets.THRIFT_BINDINGS_RW }}
          commit-message: "Generate go bindings for VSAPI ${{ steps.go.outputs.src_version }}"
          title: "Generate go bindings for VSAPI ${{ steps.go.outputs.src_version }}"
          body: "This code was automatically generated using ${{ steps.go.outputs.thrift_version }}."
          branch: "generate-${{ steps.go.outputs.src_version }}"
