name: Generate Bindings
on:
  release:
    types: [created, edited]
  pull_request:

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

env:
  CARGO_TERM_COLOR: always

jobs:
  generate-rust-bindings:
    name: Generate Rust Bindings
    uses: org-zpr/zpr-dev-tools/.github/workflows/generate-pr.yml@b216a0e731331089a992def3930f3f6f2661d3b7
    with:
      src-repo: org-zpr/zpr-vsapi
      dst-repo: org-zpr/zpr-vsapi-rs
      lang: rust
      dry-run: ${{ github.event_name == 'pull_request' }}
      make-script: 'thrift -gen rs -out . $SRC_PATH/vs.thrift;
          mv vs.rs src/lib.rs'
    secrets:
      RW_TOKEN: ${{ secrets.THRIFT_BINDINGS_RW }}
      GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      RO_TOKEN: ${{ secrets.ZPR_CICD_RO_TOKEN }}

  generate-go-bindings:
    name: Generate Go Bindings
    uses: org-zpr/zpr-dev-tools/.github/workflows/generate-pr.yml@b216a0e731331089a992def3930f3f6f2661d3b7
    with:
      src-repo: org-zpr/zpr-vsapi
      dst-repo: org-zpr/zpr-vsapi-go
      lang: go
      dry-run: ${{ github.event_name == 'pull_request' }}
      make-script: 'mkdir tmp;
          thrift -gen go -out tmp $SRC_PATH/vs.thrift;
          cp -R tmp/vsapi/* .;
          rm -rf tmp'
    secrets:
      RW_TOKEN: ${{ secrets.THRIFT_BINDINGS_RW }}
      GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      RO_TOKEN: ${{ secrets.ZPR_CICD_RO_TOKEN }}
